.header-color{
    --color: #ffffff;
    --background: #cf3c4f;
}


.mapinput_div{
    position: relative;
    border-top: 1px dashed orange;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    background: #efefef;
    margin: auto;
    height: 100%;
  }

  #map {
    //height: 30vh;
    height:calc(100% - 100px);
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  
  .address_input{
    font-size: small;
    font-weight: 600;
    width: 100%;
    margin: auto;
    border: 1px solid wheat;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
  }
  

  .info{
    position: absolute;
    bottom: 5%;
    left: 5%;
    background: #00000059;
    min-width: 100px;
    color: white;
    padding: 5px;
    border-radius: 10px;
  }
