 <!-- This ui components contins the components that shall be displayed when user selects 
favorite icon in the home page-->
<ion-header>
  <ion-toolbar class="header-color">
    <ion-buttons slot="start" (click)="go_back()">
      <ion-icon slot="icon-only" mode="md" name="arrow-back-outline"   style="color: #3f3d56;"></ion-icon>
    </ion-buttons>
    <ion-title>
      My Favorites
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of favoriteList">
    <ion-card-header>
      <ion-row>
        <ion-col size="10">
          <ion-card-subtitle>Level: {{item.data.level}}</ion-card-subtitle>
          <ion-card-title>{{item.data.name}}</ion-card-title>
        </ion-col>
        <ion-col size="2">
          <a class="favorite" (click)="removeFavorite(item)">
            <ion-icon *ngIf="item.data.isFav == true" name="heart"></ion-icon>
          </a>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img *ngIf="item.data.image == ''" src="assets/images/TheCausewayCoast.jpg">
            <img *ngIf="item.data.image != ''" src="{{item.data.image}}">
          </ion-thumbnail>
          <ion-label>
            <ion-text color="danger">
              <h3> Distance: {{item.data.distance}} miles</h3>
            </ion-text>
            <ion-text color="primary">
              <h3> Starts: {{item.data.starts}}</h3>
            </ion-text>
            <ion-text color="success">
              <h3> Ends:{{item.data.ends}}</h3>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>